
<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3>I'm in the AppComponent</h3>
        <hr>
        <app-servers></app-servers>
      </div>
      <div class="col-6">
        <h3>Profile</h3>
        <hr>
        <app-profile></app-profile>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Logs</h3>
        <app-detail></app-detail>
      </div>
    </div>
  </div>
</section>




